py -m pip install yfinance
py -m pip install yfinance==0.1.67
py -m pip install yfinance>=0.1.67
py -m pip install streamlit
py -m pip install streamlit==1.3.0
py -m pip install streamlit>=1.3.0
py -m pip install pandas
py -m pip install pandas==1.3
py -m pip install pandas>=1.3